In [1]:
#Let's scrap from witch generation pokemon come from wikipedia

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [3]:
url1 = 'https://en.wikipedia.org/wiki/List_of_generation_I_Pok%C3%A9mon'
url2 = 'https://en.wikipedia.org/wiki/List_of_generation_II_Pok%C3%A9mon'
url3 = 'https://en.wikipedia.org/wiki/List_of_generation_III_Pok%C3%A9mon'
url4 = 'https://en.wikipedia.org/wiki/List_of_generation_IV_Pok%C3%A9mon'
url5 = 'https://en.wikipedia.org/wiki/List_of_generation_V_Pok%C3%A9mon'
url6 = 'https://en.wikipedia.org/wiki/List_of_generation_VI_Pok%C3%A9mon'
url7 = 'https://en.wikipedia.org/wiki/List_of_generation_VII_Pok%C3%A9mon'
url8 = 'https://en.wikipedia.org/wiki/List_of_generation_VIII_Pok%C3%A9mon'

In [4]:
res1 = requests.get(url1).content
res2 = requests.get(url2).content
res3 = requests.get(url3).content
res4 = requests.get(url4).content
res5 = requests.get(url5).content
res6 = requests.get(url6).content
res7 = requests.get(url7).content
res8 = requests.get(url8).content

In [5]:
soup1 = BeautifulSoup(res1, 'lxml')
soup2 = BeautifulSoup(res2, 'lxml')
soup3 = BeautifulSoup(res3, 'lxml')
soup4 = BeautifulSoup(res4, 'lxml')
soup5 = BeautifulSoup(res5, 'lxml')
soup6 = BeautifulSoup(res6, 'lxml')
soup7 = BeautifulSoup(res7, 'lxml')
soup8 = BeautifulSoup(res8, 'lxml')

In [6]:
#Let's make a list of each generation of pokemon
poke_generation_1 =  [tag.get('id') for tag in soup1.find_all('span',{'class':"anchor"})]
poke_generation_2 =  [tag.get('id') for tag in soup2.find_all('span',{'class':"anchor"})]
poke_generation_3 =  [tag.get('id') for tag in soup3.find_all('span',{'class':"anchor"})]
poke_generation_4 =  [tag.get('id') for tag in soup4.find_all('span',{'class':"anchor"})]
poke_generation_5 =  [tag.get('id') for tag in soup5.find_all('span',{'class':"anchor"})]
poke_generation_6 =  [tag.get('id') for tag in soup6.find_all('span',{'class':"anchor"})]
poke_generation_7 =  [tag.get('id') for tag in soup7.find_all('span',{'class':"anchor"})]
poke_generation_8 =  [tag.get('id') for tag in soup8.find_all('span',{'class':"anchor"})]

In [7]:
#let's create a tupple with each pokemon and their generation
poke_generation_1 = [(poke, 'generation 1')for poke in poke_generation_1]
poke_generation_2 = [(poke, 'generation 2')for poke in poke_generation_2]
poke_generation_3 = [(poke, 'generation 3')for poke in poke_generation_3]
poke_generation_4 = [(poke, 'generation 4')for poke in poke_generation_4]
poke_generation_5 = [(poke, 'generation 5')for poke in poke_generation_5]
poke_generation_6 = [(poke, 'generation 6')for poke in poke_generation_6]
poke_generation_7 = [(poke, 'generation 7')for poke in poke_generation_7]
poke_generation_8 = [(poke, 'generation 8')for poke in poke_generation_8]

In [8]:
#let's join all this into one tupple to put it in a single dataframe
poke_generation = poke_generation_1 + poke_generation_2 + poke_generation_3 + poke_generation_4 + poke_generation_5 + poke_generation_6 + poke_generation_7 + poke_generation_8

poke_generation_df = pd.DataFrame(poke_generation, columns= ['name','generation'])
poke_generation_df.drop_duplicates(subset ="name", keep = 'first', inplace=True)

In [9]:
poke_generation_df

           name    generation
0     Bulbasaur  generation 1
1       Ivysaur  generation 1
2      Venusaur  generation 1
3    Charmander  generation 1
4    Charmeleon  generation 1
..          ...           ...
961   Regieleki  generation 8
962   Regidrago  generation 8
963   Glastrier  generation 8
964   Spectrier  generation 8
965     Calyrex  generation 8

[948 rows x 2 columns]

In [10]:
#we gotta use sql, so let's initialize it
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="User",
                               pw= password,
                               db="pokemon"))

In [11]:
#let's put all this in an sql file
poke_generation_df.to_sql(con=engine, name='pokemon_generation', if_exists='replace', index=False)

In [12]:
poke_generation_df

           name    generation
0     Bulbasaur  generation 1
1       Ivysaur  generation 1
2      Venusaur  generation 1
3    Charmander  generation 1
4    Charmeleon  generation 1
..          ...           ...
961   Regieleki  generation 8
962   Regidrago  generation 8
963   Glastrier  generation 8
964   Spectrier  generation 8
965     Calyrex  generation 8

[948 rows x 2 columns]